<!DOCTYPE html>
<html ng-app="gemStore">
	<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    	<script type="text/javascript" src="angular.min.js"></script>
    	<script type="text/javascript" src="app.js"></script></head>
    <header>
      <h1 class="text-center">Flatlander Crafted Gems</h1>
      <h2 class="text-center"> - an Angular store - </h2>
    </header>
<body ng-controller = "StoreController as store" style="padding: 10px 200px 200px 200px">
    <!-- Product Container -->
    <div class="list-group">
    <div class="list-group-item" ng-repeat="product in store.products">
            <h3>{{product.name}}
                <em class="pull-right">{{product.price | currency}}</em>
            </h3>
            <!-- Image Gallery -->
      <section ng-show="product.images.length" ng-controller="GalleryController as gallery">
        <img ng-src="{{product.images[gallery.current]}}" />
        <ul class="list-inline thumbs">
          <li class="thumbnail" ng-repeat="image in product.images">
            <img ng-src="{{image}}" style="width: 20%;height: 20%"/>
          </li>
        </ul>
      </section>
      <!-- Tab Container -->
    <section ng-controller="PanelController as panel">
        <ul class="nav nav-pills">
            <li ng-class="{ active: panel.isSelected(1) }">
             <a href ng-click="panel.selectTab(1)"> Decscription</a></li>
            <li ng-class="{ active: panel.isSelected(2) }">
             <a href ng-click="panel.selectTab(2)"> Shine</a></li>
            <li ng-class="{ active: panel.isSelected(3) }">
             <a href ng-click="panel.selectTab(3)"> Reviews</a></li>
        </ul>
        <div class="panel" ng-show="panel.isSelected(1)">
            <h4> Description </h4>
            <blockquote>{{product.description}}</blockquote>
        </div>
        <div class="panel" ng-show="panel.isSelected(2)">
            <h4> Shine </h4>
            <blockquote>{{product.shine}}</blockquote>
        </div>
        <div class="panel" ng-show="panel.isSelected(3)">
            <h4> Reviews </h4>
            <blockquote ng-repeat="review in product.reviews">{{review.body}} - {{review.author}}</blockquote>
        </div>
    </section>
    </div>
    </div>
</body>
</html>

